.hidden {
  display: none;
}

body.options-page {
  h1 {
    background: blue;
    color: white;
  }
}

.toast {
    position: absolute;
    top: 0;
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px 20px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    &.success {
      background-color: rgb(217, 255, 217);
    }
    &.error {
      background-color: rgb(255, 222, 222);
    }
}