.options-page {
  h1 {
    background: blue;
    color: white;
  }

  #output-div {
    pre {
      margin: 0;
      text-wrap: auto;
    }
  }
}

.popup-page {
  width: 500px;

  h1 {
    background: green;
    color: white;
  }
}