.language-model-tester {
    background: #f0f0f0;
    padding: 4px;

    gap: 1rem;
    .input-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .output-group {
        pre {
        margin: 0;
        text-wrap: wrap;
        }
    }

    textarea.auto-resize {
        field-sizing: content;
        display: block;
    }

    .transcript-message {
        margin: 1px;
        padding: 5px;
        display: inline-block;  
        &.human-user {
        background-color: hsl(0deg 0% 90%)
        }
        &.assistant {
        background-color: hsl(250deg 100% 90%)
        }
    }
}